
@{
    ViewBag.Title = "Activity Report";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <td>
                        <strong>Time</strong>
                    </td>
                    <td>
                        <strong>Code</strong>
                    </td>
                    <td>
                        <strong>Message</strong>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        2018-07-14 10:30:35 UTC
                    </td>
                    <td>
                        5001
                    </td>
                    <td>
                        Great Nees
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>